[submodule "src/fat-free-framework"]
	path = src/fat-free-framework
	url = git@github.com:TBoileau/gt-fat-free-framework.git
[submodule "src/symfony"]
	path = src/symfony
	url = git@github.com:TBoileau/gt-symfony.git
[submodule "src/easy-admin"]
	path = src/easy-admin
	url = git@github.com:TBoileau/gt-easy-admin.git
[submodule "src/api-platform"]
	path = src/api-platform
	url = git@github.com:TBoileau/gt-api-platform.git
[submodule "src/ux-twig-component"]
	path = src/ux-twig-component
	url = git@github.com:TBoileau/gt-ux-twig-component.git
[submodule "src/ux-live-component"]
	path = src/ux-live-component
	url = git@github.com:TBoileau/gt-ux-live-components.git
